<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lifecycle</key>
	<dict>
		<key>openURL</key>
		<array>
			<dict>
				<key>object</key>
				<string>Potatso.UrlHandler</string>
			</dict>
		</array>
		<key>willTerminate</key>
		<array>
			<dict>
				<key>object</key>
				<string>Potatso.DataInitializer</string>
			</dict>
		</array>
		<key>didEnterBackground</key>
		<array>
			<dict>
				<key>object</key>
				<string>Potatso.DataInitializer</string>
			</dict>
		</array>
		<key>willEnterForeground</key>
		<array>
			<dict>
				<key>object</key>
				<string>Potatso.DataInitializer</string>
			</dict>
		</array>
		<key>remoteNotification</key>
		<array>
			<dict>
				<key>object</key>
				<string>Potatso.NotificationHandler</string>
			</dict>
		</array>
		<key>didBecomeActive</key>
		<array>
			<dict>
				<key>object</key>
				<string>Potatso.AppInitializer</string>
			</dict>
			<dict>
				<key>object</key>
				<string>Potatso.DataInitializer</string>
			</dict>
			<dict>
				<key>object</key>
				<string>Potatso.NotificationHandler</string>
			</dict>
		</array>
		<key>didFinishLaunchingWithOptions</key>
		<array>
			<dict>
				<key>object</key>
				<string>Potatso.AppInitializer</string>
			</dict>
			<dict>
				<key>object</key>
				<string>Potatso.DataInitializer</string>
			</dict>
			<dict>
				<key>object</key>
				<string>Potatso.UIManager</string>
			</dict>
			<dict>
				<key>object</key>
				<string>Potatso.UrlHandler</string>
			</dict>
			<dict>
				<key>object</key>
				<string>Potatso.NotificationHandler</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
